<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Use this during testing-->
		<add name="Default" connectionString="Data Source=c:\temp\AccountDB.db;Version=3;" providerName="System.Data.SqlClient"/>
		<!--Use this when youre going to publish dont forget to put the database in there to-->
		<!--<add name="Default" connectionString="Data Source=.\AccountDB.db;Version=3;" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
	<startup>
	</startup>
</configuration>